.display-header {
  display: block;
  width: 483px;
  padding: 10px 35px;
  height: 50px;
  border: none;
  margin-left: 32px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: -2px 5px 19px -4px rgba(255, 255, 255, 1);
  outline: none;
}